body {
    font-family: 'Lato', sans-serif;
}

.boxhlavicka {
    margin: 40px;
    border: thick blue double;
    background-color: palevioletred;
    border-radius: 30px;
    text-align: center;
    color: blue;
}

.fotka {
    float: left;
    width: 35%;
    border-radius: 100px;
}

.sloupec2 {
    width: 30%;
    margin-left: 40%;
    margin-right: 30%;
    background-image: linear-gradient(75deg, blue, palevioletred);
    border-radius: 100px;
    padding: 30px;
    font-weight: bold;
}

.sloupec3 {
    width: 20%;
    float: right;
    background-color: palevioletred;
    border-radius: 100px;
    padding: 30px;
    font-size: 80%;
}

.boxodstavec {
    background-color: brown;
}